<template>
  <div class="shop-page">
    <h1>Ready to go !</h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
})
export default class ShopPage extends Vue {
}
</script>
